<h2><%= link_to "Add A Product", "#{products_url}/new" %></h2>
<div class="product_listing">
<ul>
	<li><% @products.each do |product|  %></li>
		<li>Product Name: <%= product.name %></li>
		<li>Product Description: <%= product.description %>
		<li>Product Price: <%= product.formatted_price %></li>
<!-- add Product.formatted_price -->
		<li class="prodend"><%= link_to "See Product", product_path(product) %></li>
	<% end %></ul>
	<!-- /products/:id(.:format)  product_path(@product)    product_params-->

</div>

<p> Login  | <%= link_to "Signup", new_user_path() %></p>

<!-- new_session_path -->


<!-- link_to "Profiles", profiles_path
# => <a href="/profiles">Profiles</a>
 -->


<!-- 
list of all products + 3 links:
			signup
			login
			new product page
			each product is displayed with name,deacription, price, link to go to its show page
 index click for new product 
			> page with form, submitting the form has 3 fields:name, description, and price in cents. 							
			when submitted
			> takes me to the show page for a new product.
	
on index, if I click a product 
			> page with name, description, price and reviews. Each review includes the review itself, who it was written by (username and the date/time it was written
	
			also on this page a form with 1 text field user can fill in and submit to create a new review for the product. 

			If I created the product I see 2 buttons on the page, one to edit, and the other to delete the product. Buttons behave as expected.

 -->