<h1>Super Cheese 3000</h1>
<h2><%= link_to "Add A Product", "#{products_url}/new" %></h2>
<div class="product_listing">
<ul>
	<li><% @products.each do |product|  %></li>
		<li>Product Name: <%= product.name %></li>
		<li>Product Description: <%= product.description %>
		<li>Product Price: <%= product.formatted_price %></li>
		<li class="prodend"><%= link_to "See Product", product_path(product) %></li>
	<% end %></ul>
</div>





